{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if post.writer %}
{% if postt.writer.username == 'user' %}
<h3>작성자 : {{ post.writer.last_name }}{{ post.writer.first_name }}
</h3>
{% else %}
<h3>작성자 : {{ postt.writer }}</h3>
{% endif %}
{% else %}
<h3>작성자 : 알 수 없음</h3> {% endif %}



<br />
<h3>설명 : {{ post.desc }}</h3>
<br />
<br />
<h3>가격 : {{ post.price }}</h3>
<br />
<br />
<h3>재고 : {{ post.cnt }}</h3>
<br />
{% if post.image %}
<img class="max-small" src="{{ post.image.url }}" alt="" />
{% endif %}
<h3>작성 시각 : {{ post.created_at }}</h3>
<br />
<h3>수정 시각 : {{ post.updated_at }}</h3>
<br />
<h3>조회수 : {{ post.view_count }}</h3>
<a href="{% url 'posts:post_like' post.id %}?redirect_to=show">
  {% if user in post.like_user_set.all %}
  <i class="fas fa-heart"></i>
  {% else %}
  <i class="far fa-heart"></i>
  {% endif %}
</a>
<br />
<h1>
  {% if user == post.user %}
  <a href="{% url 'posts:update' post.pk %}" class="btn btn-primary">수정</a>
  <a href="{% url 'posts:delete' post.pk %}" class="btn btn-danger">삭제</a>
  {% endif %}
</h1>

<div class="container mt-5">
  <form class="form-row" action="{% url 'posts:create_comment' post.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>평점</label>
      <input type="text" class="form-control" name="score" />
    </div>
    <textarea class="form-control col-11 mr-2" name="content" placeholder="댓글 내용 입력..."></textarea>
    <input type="submit" class="btn btn-primary" value="확인">
  </form>
</div>
<div class="container mt-5 mb-5">
  {% for comment in comments %}
  <div class="card">
    <div class="card-body">
      {% if comment.writer.username == 'user' %}
      <b>{{ comment.writer.last_name }}{{ comment.writer.first_name }}
        {% else %}
        <b>{{ comment.writer }}</b> {% endif %} : {{ comment.content }}</br>
        <small>{{ comment.created_at }}</small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}